.page-container{
   display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1; /* take all available space next to sidebar */
  padding-bottom: 2rem;
}
.footer-wrap{
  padding: 1rem;
  text-align: center;
}