.testimonial-container {
  /* max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center; */
  width: 100%;
}
.testimonal-main-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}
.testimonal-main-container h1 {
  text-align: center;
  color: #273859;
  margin-bottom: 2rem;
  font-family: "DM Sans";
  line-height: 40px;
  letter-spacing: 0%;
  font-size: 32px;
  font-weight: 800;
}
.testimonial-container h2 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 30px;
}

.testimonial-form input,
.testimonial-form textarea {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}

.testimonial-form textarea {
  resize: none;
}

.testimonial-form button {
  width: 100%;
  padding: 14px;
  border: 1px solid #b68a0e;
  color: #2f2f2f;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.testimonial-form button:hover {
  background-color: #b68a0e;
  color: white;
}
