.careers-container {

  width: 100%;
}
.carrer-content{
  max-width: 96%;
  margin: 0 auto;
  padding: 1rem 1rem;
}
.careers-title {
  text-align: center;
  color: #273859;
  margin-bottom: 2rem;
  margin-top: 6vh;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  font-weight: 800;
}

.career-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  width: 99.5%;
}

.career-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.career-info {
  flex: 1;
  margin-left: 1rem;
}

.career-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.career-experience {
  margin: 0.2rem 0 0 0;
  color: #2F2F2F;
}

.career-button {
  background-color: #c89e28;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.career-button:hover {
  background-color: #a97d00;
}
